.box {
  height: 100%;
  background: no-repeat center / 100% 100% url("~@/assets/img/box.png");
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.active:hover {
  opacity: 0.5;
  cursor: pointer;
}
.box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.box:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(20px);
}
.box:before,
.box:after {
  background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
}
